.xsm-1{
    width:100%;
}
.xsm-2{
    width:49%;
}
.xsm-3{
    width:32%
}
.xsm-4{
    width:24%
}
.xsm-5{
    width:19%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  screen and (min-width: 600px) {
    .sm-1{
        width:100%;
    }
    .sm-2{
        width:49%;
    }
    .sm-3{
        width:32%
    }
    .sm-4{
        width:24%
    }
    .sm-5{
        width:19%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 768px) {
    .md-1{
        width:100%;
    }
    .md-2{
        width:49%;
    }
    .md-3{
        width:32%
    }
    .md-4{
        width:24%
    }
    .md-5{
        width:19%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media  screen and (min-width: 992px) {
    .lg-1{
        width:100%;
    }
    .lg-2{
        width:49%;
    }
    .lg-3{
        width:32%
    }
    .lg-4{
        width:24%
    }
    .lg-5{
        width:19%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media  screen and (min-width: 1200px) {
    .xlg-1{
        width:100%;
    }
    .xlg-2{
        width:49%;
    }
    .xlg-3{
        width:32%
    }
    .xlg-4{
        width:24%
    }
    .xlg-5{
        width:19%;
    }
}
