/* start main styling */
:root{
    --color:#ff9e0c ;
    --gap:1em;
}
*{
    box-sizing: border-box;
    padding:0px;
    margin: 0;
}
html{
    font-family: "Roboto" ;

}
img{
    width:100%;
    display: block;
}
.home{
    background-image: url(../images/restu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.home .bg-black{
    background-color: rgba(0, 0, 0, 0.212); 
  
    height:100%;
    display:flex;
}
/* End main styling */
.container{
    margin-inline:auto;
    width: 80%;
    display:flex;
    gap:2em;
    flex-wrap:wrap;
}
.container h2{
    text-align: center;
    width: fit-content;
    font-weight: bolder;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
}
.container h2::first-letter{
    color:var(--color);
    font-size: 3rem;
    
}
.container h2::after{
    content: "";
    border-style: solid;
    border-width: 15px;
    border-color: var(--color) var(--color) var(--color) transparent;
    position: absolute;
    text-align: center;
    right: -58px;
    margin-top: 20px;
}
.container h2::before{
    content: "";
    border-style: solid;
    border-width: 15px;
    border-color:  var(--color) transparent var(--color) var(--color) ;
    position: absolute;
    text-align: center;
    left: -58px;
    margin-top: 20px;
}
.items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:1em;
    border:1px solid var(--color);
    cursor: pointer;
}
.items .item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
   
}
.items  .item .catag{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color:rgba(0, 0, 0, 0.363);
    opacity: 0;
    transition: opacity 1s linear , transform 1s linear;
    color:white
}
.items  .item img{
    transition: transform 1s linear 2s;
}
.items .item:hover img{
    transform: scale(1.5);
}
.items  .item .catag h3{
    color:black;
    background-color: var(--color);
    padding:1em;
    transform: translateX(120%);
    transition: transform 1s linear 1s;
}
.items  .item .catag p{
    padding-inline:1em;
    transform: translateX(120%);
    transition: transform 1s linear 1s;
}
.items  .item:hover .catag{
    opacity: 1;
    transform: rotate(360deg);
    
}
.items  .item:hover .catag h3,
.items  .item:hover .catag p{
    transform: translateX(0);
}